.profile-image {
  position: relative;
  top: -50px;
  margin-bottom: -30px;
  z-index: 99;
  display: flex;
}

.profile-image img {
  background-color: #efefef;
  object-fit: cover;
  width: 130px;
  height: 130px;
  border-radius: 70px;
  border: 10px solid white;
}

.profile-details-wrapper {
  padding-left: 20px;
  position: relative;
  top: 60px;
}
.profile-details-wrapper span {
  display: block;
  width: 100%;
}

.profile-image-wrapper {
  position: relative;
}
.btn-profile-image-edit {
  position: absolute;
  top: 0px;
  z-index: 99;
  right: 0px;
  border-radius: 50px !important;
  height: 43px;
  width: 43px;
}
