.user-card-thumb {
  background-color: #333;
  border-radius: 50%;
  overflow: hidden;
  height: 80px;
  width: 80px;
}

.user-card-thumb img {
  object-fit: cover;
}

.user-card-thumb.placeholder-img {
  background-color: #efefef;
}

.user-card-thumb.placeholder-img img {
  opacity: 0.2;
}
