.textarea-wrapper.sc-ion-textarea-md {
	min-height: 200px;
}

/* This allows the modal to be auto height as per content */
ion-modal {
	--height: auto;
	align-items: flex-end;
}

.profile-image {
	position: relative;
	top: -50px;
	margin-bottom: -30px;
	z-index: 99;
	display: flex;
}

.profile-details-wrapper {
	padding-left: 20px;
	position: relative;
	top: 60px;
}
.profile-details-wrapper span {
	display: block;
	width: 100%;
}

.profile-image-wrapper {
	position: relative;
}
